<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Nuevo usuario</h1>
            <%= render 'form', user: @user, readonly: false %>
            <%= link_to 'Atras', users_path %>
        </div>
    </div>
</div>
